# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: r
cache: packages
warnings_are_errors: true

r:
- devel
- release
- oldrel

os:
- linux
- osx

# The default osx image (xcode9.4) has issues with TeXLive 2020 being just released
# https://travis-ci.community/t/latex-error-file-inconsolata-sty-not-found-only-on-osx-when-building-r-package/3261/4
osx_image: xcode9.3

# Vanilla macOS machine: remove preinstalled homebrew installation
disable_homebrew: true

jobs:
  exclude:
  # macOS binary packages not available for r-devel
  - r: devel
    os: osx

# Code coverage
after_success:
  - >-
    if [ "$TRAVIS_OS_NAME" = "linux" ] && [ "$TRAVIS_R_VERSION_STRING" = "release" ]; then
      echo Code coverage...
      Rscript -e 'covr::codecov()'
    else
      echo Skip code coverage
    fi

